<header class="header container">
  <div class="circle circle__small"></div>
  <div class="circle circle__big"></div>
  <img src="img/img-bg.png" alt="" class="header__img-bg">
  <a href="#" class="header__logo">
    <img src="img/logo.png" class="header__logo-img"></img>
  </a>
  <nav class="header__nav">
    <a href="#" class="header__nav-link">Услуги</a>
    <a href="#" class="header__nav-link">Наши работы</a>
    <a href="#" class="header__nav-link">Наши модели</a>
    <a href="#" class="header__nav-link">О нас</a>
    <a href="#" class="header__nav-link">Вакансии</a>
    <a href="#" class="header__nav-link">Контакты</a>
  </nav>
  <div class="header__contacts">
    <a href="tel:+78001236554" class="header__contacts-link header__contacts-phone">8 800 123-65-54</a>
    <a href="#" class="header__contacts-link header__contacts-callback">заказать звонок</a>
  </div>
  <div class="header__content">
    <h1 class="header__title">Проведем ваш<br>праздник под ключ!</h1>
    <span class="header__subtitle">Подберем любой персонал и организуем<br> мероприятия любой сложност</span>
    <div class="header__buttons">
      <a href="#" class="header__button button">Заказать персонал</a>
      <a href="#" class="header__button-link button-link">Узнать больше</a>
    </div>
    <div class="arrows">
      <button class="arrow arrows__left"><img src="img/arrow-point-to-left.png" alt=""></button>
      <button class="arrow arrows__right"><img src="img/arrow-point-to-right.png" alt=""></button>
    </div>
    <div class="thumbs">
      <a href="#" class="thumbs__link">Промоутеры</a>
      <a href="#" class="thumbs__link">Промо модели</a>
      <a href="#" class="thumbs__link">Стендистки</a>
      <a href="#" class="thumbs__link">Консультанты</a>
      <a href="#" class="thumbs__link">Хостес</a>
    </div>
  </div>
</header>
